
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }
        .container {
            width: 100%;
        }
        .navbar {
            min-width: 100vw;
            background-color: #ffffff;
            color: #343a40;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            top: 0;
            z-index: 1000;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .navbar-title {
            font-size: 16px;
            font-weight: bold;
        }
        .navbar-icons {
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .navbar-icons .icon {
            font-size: 20px;
            cursor: pointer;
        }
        .sidebar {
            width: 250px;
            height: 100vh;
            background-color: #394264;
            color: #fff;
            position: fixed;
            top: 0;
            left: 0;
            overflow-y: auto;
            padding-top: 20px;
            transition: transform 0.3s ease;
        }
        .sidebar.collapsed {
            transform: translateX(-100%);
        }
        .sidebar-header {
            margin-top: 25px;
            padding: 30px 20px 20px 20px;
            text-align: center;
            font-size: 1em;
            background-color: #3e497a;
            border-bottom: 1px solid #555;
        }
        .sidebar-menu {
            list-style-type: none;
            padding: 0;
        }
        .sidebar-menu li {
            border-bottom: 1px solid #4e578b;
        }
        .sidebar-menu li a {
            color: #b0b6e0;
            text-decoration: none;
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 15px 20px;
            transition: background 0.3s;
        }
        .sidebar-menu li a:hover {
            background-color: #3e497a;
        }
        .sidebar-menu li a i {
            margin-right: 10px;
        }
        .submenu {
            list-style-type: none;
            padding-left: 20px;
            display: none;
        }
        .submenu li {
            padding: 10px 0;
        }
        .submenu li a {
            color: #b0b6e0;
            padding: 10px 20px;
        }
        .submenu li a:hover {
            background-color: #4e578b;
        }
        .content {
            margin-left: 250px;
            padding: 20px;
            width: calc(100% - 250px);
            margin-top: 50px;
            transition: margin-left 0.3s, width 0.3s;
        }
        .content.collapsed {
            margin-left: 0;
            width: 100%;
        }
        .content-header {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .form-container {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        .form-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
        .form-group {
            display: flex;
            flex-direction: column;
        }
        .form-group label {
            margin-bottom: 5px;
            font-size: 12px;
        }
        .form-group input, .form-group select {
            min-width: 91%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .form-actions {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            margin-top: 20px;
        }
        .form-actions button {
            padding: 7px 0px;
            border: none;
            width: 90px;
            border-radius: 4px;
            cursor: pointer;
        }
        .form-actions button[type="submit"] {
            background-color: #00b4d8;
            color: white;
        }
        .form-actions button[type="submit"]:hover {
            background-color: white;
            color: #00b4d8;
            border: 2px solid #00b4d8;
        }
        .form-actions button[type="reset"] {
            background-color: white;
            color: #00b4d8;
            border: 2px solid #00b4d8;
        }
        .form-actions button[type="reset"]:hover {
            color: white;
            background-color: #00b4d8;
            border: 2px solid #00b4d8;
        }
        .sub-container {
            max-width: 29%;
        }
        .sub-container-2 {
            width: 95%;
        }
        .grid-full-column {
            grid-column-start: span 2;
        }
        .display-3 {
            color: rgba(0, 0, 0, 0.945);
            font-weight: 200;
        }
        .profile-icon {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #007bff;
            color: white;
            text-align: center;
            line-height: 40px;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }
        .profile-dropdown {
            display: none;
            position: absolute;
            right: 5px;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            margin-top: 10px;
            min-width: 150px;
        }
        .profile-dropdown a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: black;
            border-bottom: 1px solid #ddd;
        }
        .profile-dropdown a:hover {
            background-color: #f1f1f1;
        }
        .profile-container {
            position: relative;
            display: inline-block;
            margin-right: 50px;
        }
        .profile-container:hover .profile-dropdown {
            display: block;
        }
    